@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap");
:root {
  --clr-accent-400: hsl(12, 88%, 59%);
  --clr-accent-100: hsl(13, 100%, 96%);

  --clr-primary-400: hsl(228, 39%, 23%);

  --clr-neutral-100: hsl(233, 12%, 13%);
  --clr-neutral-900: hsl(0, 0%, 98%);

  font-family: "Be Vietnam Pro";
}

.visually-hidden {
  position: absolute;
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
*/ * {
  font: inherit;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  line-height: 1.5;
}

html,
body {
  height: 100%;
  text-rendering: optimizeSpeed;
}

html:focus-within {
  scroll-behavior: smooth;
}

img,
picture {
  max-width: 100%;
  display: block;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
  padding: 0;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* navigation */

.primary-header {
  padding-top: 2.5rem;
}

.nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mobile-nav-toggle {
  display: none;
}

.nav-list {
  display: flex;
  gap: clamp(2rem, 5vw, 1rem);
  font-size: 0.875rem;
  font-weight: 700;
}

.nav-list a {
  text-decoration: none;
  color: hsl(233, 12%, 13%);
}

.nav-list a:hover,
.nav-list a:focus {
  color: hsl(12, 88%, 59%);
}

@media (max-width: 50em) {
  .primary-navigation {
    display: none;
    position: fixed;
    padding: 1.35rem;
    inset: 5rem 1.5rem auto;
    background: hsl(0, 0%, 98%);
    border-radius: 2px;
    box-shadow: 0 0 0.75rem rgb(0, 0, 0, 0.05);
  }

  .primary-header[data-overlay]::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: linear-gradient(rgb(0 0 0 / 0), rgb(0 0 0 / 0.7));
  }

  .nav-list {
    display: grid;
    gap: 1rem;
    text-align: center;
    font-weight: 600;
  }

  .nav-list a {
    text-decoration: none;
    color: hsl(233, 12%, 13%);
  }

  .nav-list a:hover,
  .nav-list a:focus {
    color: hsl(12, 88%, 59%);
  }

  .primary-navigation[data-visible] {
    display: block;
    position: fixed;
  }

  .mobile-nav-toggle {
    display: initial;
    position: fixed;
    top: 2.4rem;
    right: 2rem;
    cursor: pointer;
    background: transparent;
    border: 0;
    padding: 0.5em;
  }

  .mobile-nav-toggle .icon-close {
    display: none;
  }
}

.opened {
  display: initial;
  position: fixed;
}

.title-1 {
  color: hsl(228, 39%, 23%);
  font-weight: 700;
  font-size: 1.9rem;
  line-height: 1.2;
}

.title-2 {
  color: hsl(228, 39%, 23%);
  font-weight: 550;
  font-size: 1.5rem;
  line-height: 1.2;
}

.title-3 {
  color: hsl(228, 39%, 23%);
  font-weight: 700;
  font-size: 0.875rem;
}

.title-4 {
  color: hsl(0, 0%, 98%);
  font-weight: 550;
  font-size: 1.5rem;
  line-height: 1.2;
}

p {
  color: hsl(227, 12%, 61%);
  font-weight: 400;
  font-size: 0.875rem;
}

.container {
  --max-width: 1110px;
  --padding: 1rem;

  width: min(var(--max-width), 100% - (var(--padding) * 2));
  margin-inline: auto;
}

.even-columns {
  display: grid;
  gap: 1rem;
}

.padding-block-700 {
  padding-block: 2rem;
}

.padding-block-900 {
  padding-block: 3rem;
}

.first-bg {
  background-color: hsl(12, 88%, 59%);
}

.second-bg {
  background-color: hsl(233, 12%, 13%);
}

.button {
  display: inline-flex;
  cursor: pointer;
  text-decoration: none;
  border-radius: 100vmax;
  padding: 1em 2.5em;
  color: hsl(0, 0%, 98%);
  border: 0;
  background-color: hsl(12, 88%, 59%);
  font-size: 0.83rem;
  box-shadow: 0 1.125em 1em -1em hsl(12, 60%, 45%);
}

.button:hover,
.button:focus-visible {
  background-color: hsl(12, 88%, 75%);
}

.button[data-type="inverted"] {
  background-color: hsl(0, 0%, 98%);
  color: hsl(12, 88%, 59%);
}

.button[data-type="inverted"]:hover,
.button[data-type="inverted"]:focus-visible {
  background-color: hsl(0, 0%, 98%);
  color: hsl(12, 88%, 75%);
}

.display-sm-none {
  display: none;
}

@media (min-width: 50em) {
  .display-md-inline-flex {
    display: inline-flex;
  }
}

@media (min-width: 40em) {
  .even-columns {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
}
