@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap");
:root {
  --clr-accent-400: hsl(12, 88%, 59%);
  --clr-accent-100: hsl(13, 100%, 96%);

  --clr-primary-400: hsl(228, 39%, 23%);

  --clr-neutral-100: hsl(233, 12%, 13%);
  --clr-neutral-900: hsl(0, 0%, 98%);

  font-family: "Be Vietnam Pro";
}

* {
  font: inherit;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
}

html,
body {
  height: 100%;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

.title-1 {
  color: hsl(228, 39%, 23%);
  font-weight: 700;
  font-size: 1.9rem;
}

.title-2 {
  color: hsl(228, 39%, 23%);
  font-weight: 550;
  font-size: 1.5rem;
}

.title-3 {
  color: hsl(228, 39%, 23%);
  font-weight: 700;
  font-size: 0.875rem;
}

/* .title-4{

} */

p {
  color: hsl(227, 12%, 61%);
  font-weight: 400;
  font-size: 0.875rem;
}

/* *,
*::before,
*::after {
  box-sizing: border-box;
}



html:focus-within {
  scroll-behavior: smooth;
}


body {
  text-rendering: optimizeSpeed;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
} */
